.circle-button_container {
    user-select: none;
    cursor: pointer;
}
.circle-button_btn {
    display: inline-block;
    color: #131313;
    font-size: 1.3em;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    outline: none;
    background: transparent;
    border: 2px solid #131313;
    margin-right: 0.7em;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.circle-button_container:hover > .circle-button_btn,
.circle-button_btn:hover {
    background: #131313;
    color: white;
}

.circle-button_container:active > .circle-button_btn,
.circle-button_btn:active {
    background: transparent;
    color: black;
}

.circle-button_symbol {
}
.circle-button_label {
}
